.loginPage {
    display: flex;
    min-height: 100vh;
    color: #fff;
  }
  
  .leftContainer {
    flex-basis: 50%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #1b2845 74%);
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .header h1 {
    color: #a7e2ff; 
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 45px;
    text-shadow:
                3px 3px 4px rgba(0, 0, 0, 0.8), 
                -1px -1px 4px rgba(0, 0, 0, 0.8), 
                1px -1px 4px rgba(0, 0, 0, 0.8),
                -1px 1px 4px rgba(0, 0, 0, 0.8),
                1px 1px 4px rgba(0, 0, 0, 0.8);
  }
  .header a, .header a:visited {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Optional: Inherits the color from the parent element */
  }
  
  
  .formContainer {
    width: 100%;
    color: black;

  }
  
  .inputContainer {
    margin-bottom: 1rem;
  }
  
  .inputContainer input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Spacing between input fields */
  }
  
  .signInButton {
    width: 100%;
    padding: 12px;
    background-color: #4cd137;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .signInButton:hover {
    background-color: #3ae374; /* A lighter or darker shade for hover */
    cursor: pointer; /* Indicates the button is clickable */
}
  
  .options a {
    display: block;
    color: #00a8ff;
    text-decoration: none;
    margin-bottom: 10px; /* Spacing between options */
  }
  
  .rightContainer {
    flex-basis: 60%;
    position: relative;
    background-image: url('/images/homepage_option_2.webp'); /* Path to your background image */
    background-size: cover;
    background-position: center;
  }
  
  .welcomeBack {
    position: absolute;
    margin-left: 75px;
    top: 18%;
    transform: translateY(-50%);
    color: #fff;
            text-shadow:
                3px 3px 4px rgba(0, 0, 0, 0.8), 
                -1px -1px 4px rgba(0, 0, 0, 0.8), 
                1px -1px 4px rgba(0, 0, 0, 0.8),
                -1px 1px 4px rgba(0, 0, 0, 0.8),
                1px 1px 4px rgba(0, 0, 0, 0.8);
            font-size: 35px;
            font-weight: bold;
  }

