
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222121; /* Dark grey background */
    padding: 18px 40px;
  }
  
  .brand a {
    color: #a7e2ff; /* Light blue text */
    font-size: 28px;
    text-decoration: none;
    text-shadow:
                3px 3px 4px rgba(0, 0, 0, 0.8), 
                -1px -1px 4px rgba(0, 0, 0, 0.8), 
                1px -1px 4px rgba(0, 0, 0, 0.8),
                -1px 1px 4px rgba(0, 0, 0, 0.8),
                1px 1px 4px rgba(0, 0, 0, 0.8);
  }
  
  .navItems a {
    color: #a7e2ff; /* Light blue text */
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navItems a:hover {
    color: white; /* White text on hover */
  }
  