<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Client Plan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .workout-item {
            margin-bottom: 1rem;
            padding: 0.5rem;
            background-color: #f8f9fa;
            border: 1px solid #e3e6f0;
            border-radius: 5px;
        }

        .workout-item-editable {
            background-color: #e9ecef;
            border: 1px dashed #adb5bd;
        }

        #buttonGroup {
            margin-top: 1rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-center mb-4">
                    <h1>{{ client.first_name }} {{ client.last_name }}'s Generated Plan</h1>
                    <h3>Created on {{ generated_plan.date.strftime('%B %d, %Y') if generated_plan.date else 'Date not
                        specified' }}</h3>

                </div>
                <div id="buttonGroup">
                    <button class="btn btn-outline-primary" onclick="editGeneratedPlan()">Edit Plan</button>
                    <button id="saveChangesBtn" class="btn btn-outline-success" onclick="updateGeneratedPlan()"
                        style="display:none;">Save Changes</button>
                    <button id="cancelEditBtn" class="btn btn-outline-danger" onclick="cancelEditMode()"
                        style="display:none;">Cancel</button>
                    <button class="btn btn-outline-info" id="emailPlanButton">Email Plan to Client</button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" id="client_id" value="{{ client.id }}">
                        <div id="generated_plan">
                            {% for item in generated_plan.generated_plan_details.split('\n') %}
                            <div class="workout-item">{{ item }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <form action="/current_client/{{client.id}}" method="get" class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Back to Client</button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        function editGeneratedPlan() {
            $('.workout-item').addClass('workout-item-editable').attr('contenteditable', 'true');
            $('#saveChangesBtn').show();
            $('#cancelEditBtn').show();
            $('button[onclick="editGeneratedPlan()"]').hide();
        }

        function cancelEditMode() {
            $('.workout-item').removeClass('workout-item-editable').attr('contenteditable', 'false');
            $('#saveChangesBtn').hide();
            $('#cancelEditBtn').hide();
            $('button[onclick="editGeneratedPlan()"]').show();
            location.reload();
        }

        function updateGeneratedPlan() {
            var updatedPlan = '';
            var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            $('#generated_plan .workout-item').each(function () {
                updatedPlan += $(this).text().trim() + '\n';
            });

            var clientId = $('#client_id').val();

            // Now, send the updated plan to the server
            $.ajax({
                url: '/update_client_plan',
                type: 'POST',
                headers: {
                    "X-CSRF-TOKEN": csrfToken
                },
                contentType: 'application/json',
                data: JSON.stringify({
                    client_id: clientId,
                    generated_plan: updatedPlan
                }),
                success: function (response) {
                    if (response.success) {
                        alert('Plan updated successfully.');
                        // Possibly reload the page or redirect to another page
                        window.location.href = '/display_client_plan?client_id=' + clientId;
                    } else {
                        alert('Failed to update the plan: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error updating plan:', status, error);
                }
            });
        }



        function exitEditMode() {
            $('.workout-item').attr('contenteditable', 'false'); // Turn off contenteditable
            $('#saveChangesBtn').hide(); // Hide save button
            $('#cancelEditBtn').hide(); // Hide cancel button
            $('button[onclick="editGeneratedPlan()"]').show(); // Show edit button
        }
        $(document).ready(function () {
            var csrfToken = $('meta[name="csrf-token"]').attr('content');
            
            function emailPlan() {
                var clientId = $('#client_id').val();
                var planDetails = $('#generated_plan .workout-item').map(function () {
                    return $(this).text();
                }).get().join('\n');
                console.log("Plan details being sent:", planDetails);

                // Now, send the request to the server
                $.ajax({
                    url: '/email_plan_to_client',
                    type: 'POST',
                    headers: {
                        "X-CSRF-TOKEN": csrfToken
                    },
                    contentType: 'application/json',
                    data: JSON.stringify({
                        client_id: clientId,
                        generated_plan_details: planDetails
                    }),
                    success: function (response) {
                        if (response.success) {
                            alert('Plan emailed successfully to the client.');
                        } else {
                            alert('Failed to email the plan: ' + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error emailing plan:', status, error);
                    }
                });
            }

            $('#emailPlanButton').click(emailPlan);
        });



    </script>
</body>

</html>