.registerPage {
    display: flex;
    min-height: 100vh;
    color: #fff;
  }
  
  .leftContainer {
    flex-basis: 60%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #1b2845 74%);
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  

  .header h1 {
    color: #a8ff04;
    margin-bottom: 3rem;
    cursor: pointer;
    font-size: 3.5vw; 
    text-decoration: none;
    font-style: 'Arial', sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 8px #00dffc;
    font-weight: bold;
    width: 20vw; 
    text-align: center;
}

.header h1:hover {
    filter: brightness(120%);
}

.header a, .header a:visited {
    text-decoration: none;
    color: inherit;
}
  
  
  .formContainer {
    width: 100%;
    margin-left: -15px;
  }
  
  .inputContainer {
    margin-bottom: 1rem;
  }
  
  .inputContainer input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px; 
    color: black;
  }
  
  .registerButton {
    width: 100%;
    padding: 15px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease; /* Smooth transition for hover */
  }
  .registerButton:hover {
    background-color: #0090C1; 
    cursor: pointer; 
    font-weight: bold;
}
  
  
  .rightContainer {
    flex-basis: 60%;
    position: relative;
    background-image: url('/images/homepage_option_5.webp'); /* Path to my background image */
    background-size: cover;
    background-position: center;
  }
  
  .registerMessage {
    position: absolute;
    margin-left: 30px;
    top: 18%;
    transform: translateY(-50%);
    color: #fff;
            text-shadow:
                3px 3px 4px rgba(0, 0, 0, 0.8), 
                -1px -1px 4px rgba(0, 0, 0, 0.8), 
                1px -1px 4px rgba(0, 0, 0, 0.8),
                -1px 1px 4px rgba(0, 0, 0, 0.8),
                1px 1px 4px rgba(0, 0, 0, 0.8);
            font-size: 32px;
            font-weight: bold;
  }

  .error {
    color: red;
  }