/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem; /* Reduce padding to shift items up */
  background-color: var(--color-bg);
}

/* Logo and nav links container */
.navbarLinks {
  display: flex;
  align-items: center;
}

/* Wrapper for the logo */
.navbarLinksLogoWrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

/* Logo image */
.navbarLinksLogo img {
  width: 250px; /* Set the desired width for the logo */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove default inline spacing */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  object-fit: contain; /* Ensure the image fits within the container */
}

/* Navigation links container */
.navbarLinksContainer {
  display: flex;
  gap: 1.5rem;
  margin-left: 3rem; /* Adjust margin to align properly */
  align-items: center; /* Ensure vertical alignment */
  margin-top: 8px;
}

/* Individual navigation link styling */
.navbarLinksContainer p {
  color: #929292;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbarLinksContainer p:hover {
  color: #ffffff;
}

/* Sign in and sign up button styling */
.navbarSign {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 8px;

}

.navbarSign p {
  color: #929292;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbarSign p:hover {
  color: #ffffff;
}

.navbarSign button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #209bff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbarSign button:hover {
  background: #115186;
}

/* Mobile menu toggle */
.navbarMenu {
  display: none;
}

.navbarMenu svg {
  cursor: pointer;
}

.navbarMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 60px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbarMenuContainer p {
  margin: 1rem 0;
}

.navbarMenuContainerLinksSign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbarLinksContainer {
    display: none;
  }

  .navbarMenu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 1rem;
  }

  .navbarSign {
    display: none;
  }

  .navbarMenuContainer {
    top: 40px;
  }

  .navbarMenuContainerLinksSign {
    display: block;
  }
}
